<div class="jumbotron">
  <h1>Welome to Wide World of Sports</h1>
  <p>Team Player belongs_to teams and players tables. </p>
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <%= link_to "Players", players_path %>
    </li>
    <li class="active">
      <%= link_to "Teams", teams_path %>
    </li>
  </ul>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  </div>
</div>
