<div class="jumbotron">
  <h1>Welcome to X Sports League</h1>
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <%= link_to "Leagues", leagues_path %>
    </li>
    <li class="active">
      <%= link_to "Teams", teams_path %>
    </li>
    <li class="active">
      <%= link_to 'Players', players_path %>
    </li>
  </ul>
</div>
